html {
  background-color: black;
  font-family: Open Sans, sans-serif;
  overflow-y: scroll;
  height: 100%;
  font-size: 12px;
  line-height: 1.66667;
}

body {
  margin: 0 auto;
}

.navbar {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  z-index: 50000;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  height: 46px;
  width: 100%;
  background-color: #fff;
  border-top: 0 solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 40%);
  line-height: 46px;
}

.navbar > a {
  transition: all 0.5s ease;
  border-right: 1px solid #e5e7ea;
  font-size: 14px;
  padding: 0 11px;
  color: #353535;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #ecedef;
}

.navbar > a:first-child {
  border-left: 1px solid #e5e7ea;
}

.input {
  margin: 0px 15px;
  padding: 5px;
  border: 1px solid #ccc;
}

.main__container {
  position: relative;
  padding: 10px 0 16px;
  min-height: calc(1000vh - 100px);
  background-color: #e5e7ea;
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.logoCon {
  margin: 0 0 16px;
  align-items: flex-end;
  display: grid;
  grid-template-columns: 173px 450px 150px;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.colCon {
  display: grid;
  grid-template-columns: 160px minmax(0, 1fr) 145px 145px;
  grid-template-rows: 100%;
  grid-template-areas: "colLeft colNews colRight colRight2";
  grid-gap: 0 16px;
}

.colLeft h1 {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: rgba(53, 53, 53, 0.65);
  margin-top: 0;
}

.colNews h1 {
  font-size: 13px;
  color: #353535;
  margin: 0px 0px 6px 0px;
}

.new {
  cursor: pointer;
  background: #fff;
  color: #2d6da3;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #e5e7ea;
  border-top: none;
}
.new:hover {
  filter: brightness(0.95);
}

.colRight h1 {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  margin: 0px;
  color: #fff;
  padding: 4px;
  background: #2d6da3;
  font-size: 10px;
}

.todayMatches:hover {
  background-color: #ecedef;
}

.colRight2 h1 {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: rgba(53, 53, 53, 0.65);
  margin-top: 0px;
}

.ranking {
  background: #ecedef;
  height: fit-content;
  color: #2d6da3;
  cursor: pointer;
}

.TeamLogo {
  width: 18px;
  margin: 0px 7px;
}

.rank {
  font-size: 12px;
  line-height: 34px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.rank:first-child {
  border-top: 0;
}

.complrank {
  padding: 2px;
  color: #fff;
  background: #2d6da3;
  text-align: center;
  font-size: 11px;
}

.todayMatches {
  background-color: #fff;
  vertical-align: middle;
  font-size: 12px;
  color: #2d6da3;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-top: 0;
}

.flag {
  height: 12px;
  width: 18px;
  border: 1px solid black;
}

.topic {
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-left: 0;
  border-top: 0ch;
  background: #ecedef;
  color: #2d6da3;
  box-shadow: inset 2px 0 0 0 #ffae00;
}
